---
layout: default
title: Archive
permalink: /archive/
menuarchive: fh5co-active
---

<div class="container">
  <div class="archives">
    {% for post in site.posts %}
        {% assign currentDate = post.date | date: "%Y" %}
        {% if currentDate != myDate %}
            {% unless forloop.first %}</ul>{% endunless %}
            <h3>{{ currentDate }}</h3>
            <ul>
            {% assign myDate = currentDate %}
            {% endif %}
            <li>
              <span>{{ post.date | date: "%b %d" }}</span><a href="{{ post.url }}"> - <b>{{ post.title }}</b></a>
            </li>
            {% if forloop.last %}
          </ul>{% endif %}
    {% endfor %}
  </div>
</div>
