---
layout: default
title: Category
permalink: /category/
menucategory: fh5co-active
---

<div class="container">
  <!-- <h2 class="text-center">Catoegories</h2> -->
  <!-- <div id="search">
    <input type="text" name="search" placeholder="Search..">
  </div> -->

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
  <script type="text/javascript">
  $(function($) {
      var num_cols = 2,
      container = $('.split-list'),
      listItem = 'li',
      listClass = 'sub-list';
      container.each(function() {
          var items_per_col = new Array(),
          items = $(this).find(listItem),
          min_items_per_col = Math.floor(items.length / num_cols),
          difference = items.length - (min_items_per_col * num_cols);
          for (var i = 0; i < num_cols; i++) {
              if (i < difference) {
                  items_per_col[i] = min_items_per_col + 1;
              } else {
                  items_per_col[i] = min_items_per_col;
              }
          }
          for (var i = 0; i < num_cols; i++) {
              $(this).append($('<ul ></ul>').addClass(listClass));
              for (var j = 0; j < items_per_col[i]; j++) {
                  var pointer = 0;
                  for (var k = 0; k < i; k++) {
                      pointer += items_per_col[k];
                  }
                  $(this).find('.' + listClass).last().append(items[j + pointer]);
              }
          }
      });
    });
  </script>

  <div class="category">
    <ul class="split-list">
      {% assign sorted_cats = site.categories | sort %}
      {% for category in sorted_cats %}
        {% assign cat_name = category | first %}
        <li>
          {% if cat_name == 'C#' %}
            <a href="{{ site.baseurl }}/category/c-sharp/">
              <span class="category-title">{{ cat_name }}</span>
              <span>{{ site.categories[cat_name] | size }} Posts</span>
            </a>
          {% elsif cat_name == 'C++' %}
            <a href="{{ site.baseurl }}/category/c-plus-plus/">
              <span class="category-title">{{ cat_name }}</span>
              <span>{{ site.categories[cat_name] | size }} Posts</span>
            </a>
          {% else %}
            <a href="{{ site.baseurl }}/category/{{ category | first | downcase | slugify }}/">
              <span class="category-title">{{ cat_name }}</span>
              <span>{{ site.categories[cat_name] | size }} Posts</span>
            </a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
