---
layout: default
menuhome: fh5co-active
---

<div class="container">

<section class="archives" itemscope itemtype="http://schema.org/Blog">

  <div class="section-padding archives__container">
    {% for post in paginator.posts %}
      <article class="card" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        <a href="{{ post.url | prepend: site.baseurl }}" itemprop="url">
          <div>
            <span class="index-title">{{ post.title }}</span>
            <p>
              <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
              {% if post.categories.size > 0 %}
                in <span class="post-cat">{{ post.categories | join: ', ' }}</span>
              {% endif %}
            </p>
            {% if post.image-full %}
             <img style="width: 100%;" src="{{ post.image-sm }}" class="absolute-bg" >
            {% endif %}
            {% if post.image %}
              <div style="width: 100%; text-align: center;">
                <img src="{{ post.image }}" >
              </div>
            {% endif %}
            <p class="post-description">{{ post.content | strip_html | truncatewords: 80 }}</p>
            <a href="{{ post.url }}" class="btn btn-outline fh5co-btn-icon fh5co-btn-icon">Read Post</a>
            <div class="fh5co-spacer fh5co-spacer-md"></div>
          </div>
        </a>
      </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
      <div class="paginator">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
        {% else %}
          <span>&laquo; Prev</span>
        {% endif %}

        {% for page in (1..paginator.total_pages) %}
          {% if page == paginator.page %}
            <em style="background: #808080; color: #ffffff; padding: 0px 10px 0px 10px;">{{ page }}</em>
          {% elsif page == 1 %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
          {% else %}
            <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
          {% endif %}
        {% endfor %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
        {% else %}
          <span>Next &raquo;</span>
        {% endif %}
      </div>
    {% endif %}
  </div>
</section>
</div>
