<div class="row">
  {% assign sorted = (site.data.eventos | sort: 'Data' | reverse )  %}
  
  
  
  {% comment %}
for event in sorted limit:include.entries offset:include.offset  
{% endcomment %}
  

  {% for event in sorted  limit:include.entries offset:include.offset  %}
<div class="small-2 columns">
{% if(event.Img != nil )%}

<img src="{{ site.url }}{{ site.baseurl }}/images/eventos/{{event.Img}}" width='150px'>
{%endif%}
{{event.Event}} <br/> {{event.Local}} <br/>{{event.Data | date: "%d/%m/%Y"}}
{{esvent.Papel}} <br><a href='{{event.Url}}'> </a>
</div>

  {% endfor %}
</div>


