<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <!-- Header -->
	<header id="fh5co-header" role="banner">
		<div class="container">
      <div id="fh5co-logo">
				<a href="/">
					<img src="/assets/images/logo.png" alt="Work Logo">
				</a>
			</div>
      <h2 class="text-center">Vitor Meriat</h2>
      <h5 class="text-center">MVP Azure - Cloud Architect - Data science enthusiast</h5>

			<!-- Mobile Toggle Menu Button -->
			<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>

			<!-- Main Nav -->
			<div id="fh5co-main-nav">
				<nav id="fh5co-nav" role="navigation">
					<ul>
						<li class="{{ page.menuhome }}">
							<a href="/">Blog</a>
						</li>
						<li class="{{ page.menuarchive }}">
							<a href="/archive/">Archives</a>
						</li>
            <li class="{{ page.menucategory }}">
							<a href="/category/">Categories</a>
						</li>
            <li class="{{ page.menuabout }}">
							<a href="/about/"> About me </a>
						</li>
					</ul>
					<!-- <a href="http://www.vitormeriat.com.br/" target="_blank" class="fh5co-nav-call-to-action js-fh5co-nav-call-to-action">Blog</a> -->
          <!-- <a href="/about/" class="{{ page.menuabout }}">About me</a> -->
				</nav>
			</div>
			<!-- Main Nav -->
		</div>
	</header>
	<!-- Header -->

    <main role="main">
      {{ content }}
    </main>

    {% include footer.html %}

  </body>
</html>
