---
layout: default
---

<div class="container">
  <article itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="row">
      <div class="fh5co-spacer fh5co-spacer-sm"></div>
      <div class="col-md-12 text-center">
        <h1>{{ page.title }}</h1>
        {% if post.subtitle %}
        <h4 class="post-subtitle">
            {{ post.subtitle }}
        </h4>
        {% endif %}
      </div>
      {% if page.categories.size > 0 %}
        <h2 class="fh5co-uppercase-heading-sm text-center">
          {{ page.categories | join: ' &amp; ' }}
        </h2>
      {% endif %}
      <span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></span>
    </div>
    <div class="fh5co-spacer fh5co-spacer-md"></div>
    <section class="section-padding post" itemprop="articleBody">
      {{ content }}
    </section>
  </article>

  <hr/>
  <section class="author">
  	<header> <a href="{{ site.baseurl }}"> <img class="profile" src="/assets/images/profile.jpg" alt="Author's profile picture"></a></header>
  	<article>
  		<!-- Author Name -->
      	<h4> {{ site.author }} </h4>
      	<!-- Author Bio -->
      	<p>
      		Vitor is a computer scientist who is passionate about creating software that will positively change the world we live in.
      	</p>
        <p>Share this post: <a href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}"
            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter fa-1x"></i> Twitter</a> - <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
            onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook fa-1x"></i> Facebook</a></p>
      </article>
  </section>
  <hr/>

  <div style="margin-top: 60px; margin-bottom: 60px;">
    {% capture words %}
      {{ content | number_of_words | minus: 180 }}
    {% endcapture %}
    {% unless words contains "-" %}
      {{ words | plus: 180 | divided_by: 180 | append: " minutes to read" }}
    {% endunless %}
  </div>

  <div class="PageNavigation">
  {% if page.previous.url %}
    <a class="prev" href="{{page.previous.url}}"><i class="fa fa-lg fa-arrow-left"></i> {{page.previous.title}}</a>
  {% endif %}
  {% if page.next.url %}
    <a class="next" href="{{page.next.url}}">{{page.next.title}} <i class="fa fa-lg fa-arrow-right"></i></a>
  {% endif %}
  </div>
</div>
<div style="height: 80px;"></div>
